body {
}

#banner {
    width: 100%;
}

.tituloprincipal {
    padding-left: 20px;
}

.principal {
    background-color: #CCCCCC;
    padding: 30px;
}

.titulocentralizado {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios {
    width: 50%;
}